<%- include('../layout/header.ejs') %>
<div class="container">
    <a class="nav-link float-end" href="/pages/">Back</a>
    <h1 class="display-1 mt-3">Sign In</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem rerum laboriosam iusto cum, dolorem cupiditate! Esse cumque error aliquam facilis, ad at sit odio atque mollitia exercitationem quo rerum ipsa?</p>
  </div>
  <%- include('../layout/footer.ejs') %>